<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<form >
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Juan Andres Parra" name="nombres" [(ngModel)]="empleadoCrear.nombres" required >
          <mat-hint>Add your full name</mat-hint>
          <mat-error *ngIf="requeridoFormControl.hasError('required')">
            Name is <strong>requerid</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="empleadoCrear.email"
                 placeholder="juan.parra@example.com">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Enter valid email
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>requerid</strong>
          </mat-error>
        </mat-form-field>

    </div>
    <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput placeholder="30" type="number" name="edad" [(ngModel)]="empleadoCrear.edad" min="18" max="100" required>
          <mat-hint>Enter employee age</mat-hint>
          <mat-error *ngIf="edadFormControl.hasError('required')">
            Enter age between 18 y 80
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
            <mat-select name="cargo" [(ngModel)]="empleadoCrear.cargo" required>
              <mat-option *ngFor="let cargo of listCargos" [value]="cargo">
                {{cargo.nombre}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="requeridoFormControl.hasError('required')">
            Role is <strong>requerid</strong>
          </mat-error>
        </mat-form-field>
    </div>

</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="submit" [mat-dialog-close]="false"> Cancel </button>
    <button mat-raised-button color="primary" type="submit" (click)="empleadoAccion()" 
      [disabled]="!empleadoCrear.nombres || !empleadoCrear.email || !empleadoCrear.edad || !empleadoCrear.cargo
                    || empleadoCrear.edad<18 || empleadoCrear.edad > 100 || (emailFormControl.hasError('email'))">
       {{data ? 'Update' : 'Add'}} 
    </button>
</div>

</form>
